 <div *ngIf="IsNotes">
   <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Notes</mat-label>
      <textarea class="safety-sty"
        matInput [(ngModel)]="Notes"
        placeholder="Notes">
      </textarea>
    </mat-form-field>
   </div>
  <div class="btns-sty">
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close (click)="CreateNotes()">Save</button>
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close>Close</button>
  </div>
 </div>

 <div *ngIf="IsSafety">
  <!-- <mat-form-field class="full-width" appearance="outline">
    <mat-label>Safety Precaution</mat-label>
    <textarea class="safety-sty"
      matInput [(ngModel)]="precaution"
      placeholder="Precaution">
    </textarea>
  </mat-form-field> -->
  <form [formGroup]="RequestForm" class="example-form">
    <!-- <mat-form-field class="full-width" appearance="outline">
      <mat-label>Safety Precautions </mat-label>
      <mat-chip-list #chipList aria-label="Safety Precautions">
        <mat-chip *ngFor="let badg of safetyprecdata" [selectable]="Safetypreselectable" [removable]="removable"
          (removed)="removesafety(badg)">
          {{badg.precaution}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="" #badgeInput formControlName="Safetyprecaustion"
          [matAutocomplete]="auto" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addsafety($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedsafety($event)" >
        <mat-option *ngFor="let badge of filteredsafety | async" [value]="badge.id">
          {{badge.precaution}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
 

  <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Safety Precautions</mat-label>
                  <mat-select formControlName="Safetyprecaustion" multiple>
                      <mat-option *ngFor="let e of safetyList" [value]="e.id">{{e.precaution}}</mat-option>
                  </mat-select>
              </mat-form-field>
  </form>
  <div class="btns-sty">
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close (click)="CreateSafety()">Save</button>
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close>Close</button>
  </div>
 </div>
 <div *ngIf="IsTime">
  <mat-grid-list cols="2" rowHeight="80px">
  <mat-grid-tile>
   
    <mat-form-field class="full-width" appearance="outline">
            
      <input matInput placeholder="Start Time"
      [style.width]="'350px'"
      [(ngModel)]="StartTime"
      [owlDateTimeTrigger]="StartTimer" [owlDateTime]="StartTimer">
  <owl-date-time #StartTimer pickerType="timer"></owl-date-time>
    </mat-form-field>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="End Time"
      [style.width]="'350px'"
      [(ngModel)]="EndTime"
      [owlDateTimeTrigger]="EndTimer" [owlDateTime]="EndTimer">
  <owl-date-time #EndTimer [pickerType]="'timer'" [selectFilter]="endTimeFilter"></owl-date-time>

    </mat-form-field>
    <ngx-material-timepicker #endTime [minutesGap]="5"></ngx-material-timepicker>
  </mat-grid-tile>
</mat-grid-list>

  <!-- Edit NightShift and new end time section -->
   <mat-grid-list cols="2" rowHeight="80px">
    <!-- Night Shift Checkbox -->
<mat-grid-tile class="night-shift">
    <label>Is this a night shift?</label>
    <mat-checkbox
      (change)="toggleNightShift($event.checked)">
      Yes
    </mat-checkbox>
  </mat-grid-tile>

  <!-- New End Time input shown only if night shift is selected -->
  <!-- <mat-grid-tile *ngIf="isnightshiftyes" class="night-shift-fields">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>New End Time</mat-label>
      <input 
        matInput 
        [ngxTimepicker]="endTimePicker" 
        [format]="24" 
        placeholder="New End Time"
        [(ngModel)]="new_end_time" />
      <ngx-material-timepicker #endTimePicker [minutesGap]="5" [appendToInput]="true"></ngx-material-timepicker>
    </mat-form-field>
  </mat-grid-tile> -->
  <mat-grid-tile *ngIf="isnightshiftyes" >
    <mat-form-field class="full-width" appearance="outline">
      <input matInput placeholder="New End Time"
      [style.width]="'350px'"
      [(ngModel)]="new_end_time"
      [owlDateTimeTrigger]="NewEndTimer" [owlDateTime]="NewEndTimer">
  <owl-date-time #NewEndTimer pickerType="timer"></owl-date-time>
    </mat-form-field>
    <ngx-material-timepicker #endTime [minutesGap]="5"></ngx-material-timepicker>
  </mat-grid-tile>
  </mat-grid-list>



  <div class="btns-sty">
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close (click)="CreateTime()">Save</button>
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close>Close</button>
  </div>
 </div>

 <div class="loading-indicator" *ngIf="spinner">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>