.cat_submit {
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
}

.cat_close {
    background-color: red;
    color: #fff;
}

input {
    margin-bottom: 20px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}