<div mat-dialog-content class="dialog-header">
  <h3>Change the Status</h3>

  <div>
    <span class="material-icons close" mat-dialog-close>
      close
    </span>
  </div>

</div>

<div mat-dialog-actions *ngIf="type=='operartor'">

  <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close
    (click)="Changestatus('Approved')">Approve</button>
  <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close
    (click)="Changestatus('Rejected')">Reject</button>
</div>


<div *ngIf="type=='Opened' && !isclose">
  <ng-container *ngIf="updaterequestdata.Hot_work == 1">


    <div mat-dialog-content>
      <!-- <img [src]="croppedImage" class="uploadimgsty" /> -->
      <div class="upload-div-sty">
        <input #csvInput hidden="true" type="file" multiple onclick="this.value=null" (change)="csvInputChange($event)"
          accept=".jpg" />
        <button mat-flat-button class="logo-btn-sty" color="primary" (click)="csvInput.click()">Add Image</button>
      </div>

      <div class="mat-card save-btn-sty" *ngIf="isimguploaded">
        <div class="card-body">
          <mat-grid-list cols="3" rowHeight="110px">
            <mat-grid-tile *ngFor="let img of base64Images" class="img-div-dty">
              <img [src]="img">
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>


    </div>

  </ng-container>




  <div mat-dialog-actions>
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close
      (click)="Changestatus('Opened')">Open</button>
    <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close
      (click)="Changestatus('Rejected')">Reject</button>

  </div>
</div>

<div class="" *ngIf="type=='Closed'">
  <ng-container *ngIf="updaterequestdata.Hot_work == 1">
    <div class="hotwork-sub">
      <label>Heat sources and sparkling tools were last used, state the time</label>
      <mat-radio-group formControlName="floatLabel11">
        <mat-radio-button value="1">Yes &nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="hotwork-sub">
      <label>Are the workplace checked for glowing/smoldering objects?</label>
      <mat-radio-group formControlName="floatLabel22">
        <mat-radio-button value="1">Yes &nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="hotwork-sub">
      <label>Are fire detectors back in active mode?</label>
      <mat-radio-group formControlName="floatLabel33">
        <mat-radio-button value="1">Yes &nbsp;&nbsp;</mat-radio-button>
        <mat-radio-button value="0">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="time-picker-class">
      <h4>Check after hot work:</h4>
      <div class="cs-form">
        <input type="time" class="form-control" value="10:05 AM" formControlName="floatLabel44" />
      </div>
      <div class="cs-form">
        <input type="time" class="form-control" value="10:05 AM" formControlName="floatLabel55" />
      </div>
    </div>
  </ng-container>

  <!-- <img [src]="croppedImage" class="uploadimgsty" /> -->
  <div class="upload-div-sty">
    <input #csvInput hidden="true" type="file" multiple onclick="this.value=null" (change)="csvInputChange($event)"
      accept=".jpg" />
    <button mat-flat-button class="logo-btn-sty" color="primary" (click)="csvInput.click()">Add Image</button>
  </div>

  <div class="mat-card save-btn-sty" *ngIf="isimguploaded">
    <div class="card-body">
      <mat-grid-list cols="3" rowHeight="110px">
        <mat-grid-tile *ngFor="let img of base64Images" class="img-div-dty">
          <img [src]="img">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div style="text-align: center; margin-top: 40px;">
    <button mat-flat-button class="submit-btn-sty" mat-dialog-close (click)="Changestatusbysubcontractor('Opened')"
      color="primary">Update Status</button>
    <button mat-flat-button class="submit-btn-sty" mat-dialog-close (click)="Changestatusbysubcontractor('Closed')"
      color="primary">Close Permit</button>
    <!-- <button mat-flat-button class="submit-btn-sty" mat-dialog-close color="primary">Close</button> -->
  </div>

</div>
<div class="loading-indicator" *ngIf="spinner">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>