
<div class="search-icon">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Search Here....</mat-label>
    <input
    (keyup)="updateFilter($event)"
      matInput
      placeholder="Search Here...."
    />
  </mat-form-field>
</div>

<ngx-datatable #table class="material ml-0 mr-0" [rows]="RequestList" [columnMode]="'force'" [headerHeight]="70"
[footerHeight]="50" [scrollbarH]="true" [limit]="5" [rowHeight]="50"
>
<ngx-datatable-column name="Permit number " [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.PermitNo }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Contractor" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.subContractorName }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Building" [flexGrow]="1" [width]="20">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.building_name }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Level" [flexGrow]="1" [width]="20">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.Room_Type }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Area" [flexGrow]="1" [width]="50">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.Room_Nos }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Working Date" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.Working_Date }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Night Shift" [flexGrow]="1" [width]="20">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <p *ngIf="row?.night_shift == 1">Yes</p>
    <p *ngIf="row?.night_shift !== 1">No</p>
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="New Date" [flexGrow]="1" [width]="50">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.new_date }}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Status" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.Request_status }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Actions" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <mat-icon class="icons-sty">
      <a href="https://beam.safesiteworks.com/m3south/newbeam/logs.php?PermitNo={{ row?.PermitNo }}" target="_blank">visibility</a>
    </mat-icon>
  </ng-template>
</ngx-datatable-column>


</ngx-datatable>


<div class="loading-indicator" *ngIf="spinner">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
