
<ngx-datatable class="material ml-0 mr-0" [rows]="RequestList" [columnMode]="'force'" [headerHeight]="70"
[footerHeight]="50" [scrollbarH]="true" [limit]="5" [rowHeight]="50"
>
<ngx-datatable-column name="Permit number " [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.PermitNo }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Status" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.Request_status }}
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>


<div class="loading-indicator" *ngIf="spinner">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
