
<div class="container">
  <mat-grid-list cols="3" rowHeight="80px">
      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>SubContractor</mat-label>
              <mat-select (selectionChange)="Getselectedsubcntrsteams($event.value)" name="Company">
                  <mat-option *ngFor="let loc of SubContractorList" [value]="loc.id">
                      {{loc.subContractorName}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
  </mat-grid-list>
</div>


<mat-card class="p-0">

    <mat-card-content class="p-0">
      <!-- <div *ngIf='items.length>0'>
        <button class="download_btn_sty" mat-raised-button color="primary" (click)="exportToExcel()">Download</button>
      </div> -->
      <ngx-datatable id="content" #content class="material ml-0 mr-0" [rows]="items" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50" (activate)="onActivate($event)">
        <!-- <ngx-datatable-column name="Team Id" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.id }}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Team Name" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.teamName }}
          </ng-template>
        </ngx-datatable-column>
    
        <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="$event.preventDefault(); $event.stopPropagation(); EditTeam(row)">Edit</button>
              <button mat-icon-button mat-sm-button color="primary" (click)="$event.preventDefault(); $event.stopPropagation(); DeleteTeam(row)" class="mr-1">Delete</button>    

              <!-- <i class="material-icons">edit</i> -->
              <!-- <button mat-icon-button mat-sm-button color="primary" class="mr-1">Delete</button>     -->
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>

  <div class="loading-indicator" *ngIf="spinner">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>