<div [hidden]="isnewrequestcreated">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
  
      <mat-card-content class="card-content">
        <div>
          <div>
            <mat-form-field class="matrequest">
              <mat-label>Select Site</mat-label>
              <mat-select (selectionChange)="Getselectedsiteitem($event.value)">
                <mat-option *ngFor="let site of siteslist" [value]="site.siteId">
                  {{site.siteName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div [hidden]="nositemselect" *ngFor="let site of siteslist">
            <mat-form-field class="matrequest" *ngIf="site.siteId==selectedsite">
              <mat-label>Select Building</mat-label>
              <mat-select (selectionChange)="GetselectedBuildingitem($event.value)">
                <mat-option *ngFor="let building of site.buildings" [value]="building.bid">
                  {{building.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [hidden]="nobuildingmselect" *ngFor="let site of siteslist">
            <div *ngFor="let building of site.buildings">
              <mat-form-field class="matrequest" *ngIf="building.bid===selectedbuilding">
                <mat-label>Select Floor</mat-label>
                <mat-select (selectionChange)="Getselectedflooritem($event.value)">
                  <mat-option *ngFor="let floor of building.floors" [value]="floor.fid">
                    {{floor.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div [hidden]="nofloorselected" *ngFor="let site of siteslist">
            <div *ngFor="let building of site.buildings">
              <div *ngFor="let floor of building.floors">
                <mat-form-field class="matrequest" *ngIf="floor.fid===selectedfloor">
                  <mat-label>Select Room</mat-label>
                  <mat-select (selectionChange)="Getselectedroomitem($event.value)">
                    <mat-option *ngFor="let room of floor.rooms" [value]="room">
                      {{room}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
  
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div [hidden]="!isnewrequestcreated">
    <div class="fields">
      <p>The fields "*" are required</p>
  
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title> </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <form [formGroup]="RequestForm" class="example-form">
          <mat-grid-list cols="3" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
  
                <mat-label>Request date</mat-label>
                <input matInput readonly formControlName="Requestdate" placeholder="12/12/2020">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Company</mat-label>
                <input matInput formControlName="Companyname" placeholder="Company Name">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>SubContractor</mat-label>
                <input matInput formControlName="SubContractorname" placeholder="SubContractor Name">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-divider></mat-divider>
          <mat-grid-list cols="3" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Foreman</mat-label>
                <input matInput formControlName="Foreman" placeholder="Foreman">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Foreman Phone</mat-label>
                <input matInput formControlName="ForemanPhone" placeholder="Foreman Phone">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="3" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Activity</mat-label>
                <input matInput formControlName="Activity" placeholder="Activity">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Type of Activity</mat-label>
                <input matInput formControlName="TypeofActivity" placeholder="TypeofActivity">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Team</mat-label>
                <input matInput formControlName="Team" placeholder="Team">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field  class="datepikr full-width">
                <mat-label>Start Date</mat-label>
                <input matInput [min]="minDate" formControlName="Startdate" [max]="maxDate" [matDatepicker]="spicker">
                <mat-datepicker-toggle matSuffix [for]="spicker"></mat-datepicker-toggle>
                <mat-datepicker #spicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput [ngxTimepicker]="startTime" [format]="24" placeholder="Start Time"
                  formControlName="StartTime" />
                <ngx-material-timepicker #startTime [minutesGap]="5"></ngx-material-timepicker>
              </mat-form-field>
            </mat-grid-tile>

  
            <mat-grid-tile>
              <mat-form-field class="datepikr full-width">
                <mat-label>End Date</mat-label>
                <input matInput [min]="minDate" formControlName="Enddate" [max]="maxDate" [matDatepicker]="epicker">
                <mat-datepicker-toggle matSuffix [for]="epicker"></mat-datepicker-toggle>
                <mat-datepicker #epicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput [ngxTimepicker]="endTime" [format]="24" placeholder="End Time"
                  formControlName="EndTime" />
              </mat-form-field>
              <ngx-material-timepicker #endTime [minutesGap]="5"></ngx-material-timepicker>
  
            </mat-grid-tile>
            <!-- <mat-grid-tile>
          <mat-form-field>      
              <input matInput [ngxTimepicker]="endTime" [format]="24"  placeholder="End Time" formControlName="EndTimeonly" />
            </mat-form-field>
            <ngx-material-timepicker #endTime [minutesGap]="1"></ngx-material-timepicker>
          
          </mat-grid-tile> -->
  
          </mat-grid-list>
          <mat-grid-list cols="3" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Location</mat-label>
                <mat-select [formControl]="locationControl" name="location">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let loc of Locations" [value]="loc.locid">
                    {{loc.locname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Site</mat-label>
                <input matInput readonly formControlName="Site" placeholder="Site Name">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Building</mat-label>
                <input matInput formControlName="Building" placeholder="Building Name">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          
          <!-- <mat-grid-list cols="3" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Feeding Point</mat-label>
                <mat-select [formControl]="feedingControl" name="Fedding">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let fed of Feedingpoints" [value]="fed.fedid">
                    {{fed.fedname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Tech Room</mat-label>
                <mat-select [formControl]="TechRoomControl" name="TechRoom">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let tech of TechRooms" [value]="tech.techid">
                    {{tech.techname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list> -->
          <mat-grid-list cols="3" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Floor</mat-label>
                <input matInput readonly formControlName="FloorName" placeholder="Floor Name">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Room </mat-label>
                <input matInput readonly formControlName="RoomNo" placeholder="Room No">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Room Type</mat-label>
                <input matInput formControlName="RoomType" placeholder="Room Type">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <!-- <mat-grid-list cols="4" rowHeight="70px"> -->
            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Track</mat-label>
                <mat-select [formControl]="TrackControl" name="Track">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let tech of Tracks" [value]="tech.Trackid">
                    {{tech.Trackname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile> -->
            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Walkway </mat-label>
                <mat-select [formControl]="WalkwayControl" name="Walkway">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let tech of Walkways" [value]="tech.Walkwayid">
                    {{tech.Walkwayname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile> -->
            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Platform</mat-label>
                <mat-select [formControl]="PlatformControl" name="Platform">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let tech of Platforms" [value]="tech.Platformid">
                    {{tech.Platformname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile> -->
            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Track blocked</mat-label>
                <mat-select [formControl]="TrackblockedControl" name="Trackblocked">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let tech of Trackblockeds" [value]="tech.Trackblockedid">
                    {{tech.Trackblockedname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile> -->
          <!-- </mat-grid-list> -->
          <!-- <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Motorbogie - Number</mat-label>
                <mat-select [formControl]="MotorbogieControl" name="Motorbogie">
                  <mat-option *ngFor="let tech of Motorbogies" [value]="tech.Motorbogieid">
                    {{tech.Motorbogiename}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput readonly formControlName="MotorbogieNumber" placeholder="77886655445566">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Vehicle - Number</mat-label>
                <mat-select [formControl]="VehicleControl" name="Vehicle">
                  <mat-option *ngFor="let tech of Vehicles" [value]="tech.Vehicleid">
                    {{tech.Vehiclename}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput readonly formControlName="VehicleNumber" placeholder="11223344556677888">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list> -->
          <mat-grid-list cols="2" rowHeight="70px">
            <!-- <mat-grid-tile>
              <mat-form-field>
                <mat-label>Vehicles testing in the test area with third rail power on</mat-label>
                <mat-select [formControl]="VehiclestestingControl" name="Vehiclestesting">
                  <mat-option *ngFor="let tech of Vehiclestestings" [value]="tech.Vehiclestestingid">
                    {{tech.Vehiclestestingname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Waking Team</mat-label>
                <mat-select [formControl]="WakingTeamControl" name="WakingTeam">
                  <mat-option *ngFor="let tech of WakingTeams" [value]="tech.WakingTeamid">
                    {{tech.WakingTeamname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <mat-label>Alarm</mat-label>
                <input matInput formControlName="Alarm" placeholder="">
              </mat-form-field>
            </mat-grid-tile> -->
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Crane Requested</mat-label>
                <mat-select (selectionChange)="Getselectedcmtitem($event.value)" [formControl]="CMTControl" name="CMT">
                  <mat-option *ngFor="let tech of CMTs" [value]="tech.CMTval">
                    {{tech.CMTval}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="cmsnum full-width" [hidden]='!iscmsyes'>
                <mat-form-field class="full-width">
                  <mat-label>Crane Number</mat-label>
                  <input matInput formControlName="CmtValue" placeholder="">
                </mat-form-field>
              </div>
             
            </mat-grid-tile>
          </mat-grid-list>
  
          <mat-grid-list cols="1" rowHeight="100px">
            <!-- <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">Tools
              <textarea class="mdc-text-field__input outlineTextarea" rows="5" cols="40" aria-label="Label" placeholder="Tools"></textarea>
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label> -->
            <mat-grid-tile> 
               <mat-form-field class="full-width" appearance="outline"> 
                <mat-label>Tools</mat-label>
                <textarea class="textarea" matInput formControlName="Tools" placeholder="Tools...."></textarea>
               </mat-form-field>
             </mat-grid-tile>
  
          </mat-grid-list>
          <mat-grid-list cols="1" rowHeight="100px">
            <!-- <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">Machinery
              <textarea class="mdc-text-field__input outlineTextarea" rows="5" cols="40" aria-label="Label" placeholder="Machinery"></textarea>
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label> -->
             <mat-grid-tile>
                 
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Machinery</mat-label>
                <textarea class="textarea" matInput formControlName="Machinery" placeholder="machinery...."></textarea>
              </mat-form-field>
            </mat-grid-tile> 
  
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>HOTWORK</mat-label>
                <mat-select (selectionChange)="GetselectedHOTWORKitem($event.value)" [formControl]="HOTWORKControl" name="HOTWORK">
                  <mat-option *ngFor="let tech of HOTWORKs" [value]="tech.HOTWORKval">
                    {{tech.HOTWORKval}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="cmsnum full-width" [hidden]='!ishotworkyes'>
                <mat-form-field class="full-width">
                  <mat-label>Certified Person</mat-label>
                  <input matInput formControlName="CertifiedPerson" placeholder="">
                </mat-form-field>
              </div>
             
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>LOTO PROCEDURE</mat-label>
                <mat-select (selectionChange)="GetselectedLOTOPROCEDUREitem($event.value)" [formControl]="LOTOPROCEDUREControl" name="LOTO PROCEDURE">
                  <mat-option *ngFor="let tech of LOTOPROCEDUREs" [value]="tech.LOTOPROCEDUREval">
                    {{tech.LOTOPROCEDUREval}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="cmsnum full-width" [hidden]='!isLOTOPROCEDUREyes'>
                <mat-form-field class="full-width">
                  <mat-label>LOTO Number</mat-label>
                  <input matInput formControlName="LOTONumber" placeholder="LOTO Number">
                </mat-form-field>
              </div>
             
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Power off</mat-label>
                <mat-select [formControl]="PoweroffControl" name="Poweroff">
                  <mat-option *ngFor="let tech of Poweroffs" [value]="tech.Poweroffid">
                    {{tech.Poweroffname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
          
            <mat-grid-tile>
  
            </mat-grid-tile>
          </mat-grid-list>
          <mat-divider></mat-divider>
  
          <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Applicant</mat-label>
                <mat-select [formControl]="ApplicantControl" name="Applicant">
                  <mat-option *ngFor="let tech of Applicants" [value]="tech.Applicantid">
                    {{tech.Applicantname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Phone No</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="number" formControlName="PhoneNumber" matInput placeholder="555-555-1234">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
  
          <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>No of peoples are involved</mat-label>
                <input matInput formControlName="peopleinvalidcount" placeholder="">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <!-- <mat-form-field class="full-width">
                <mat-label>Invalid Personnel</mat-label>
                <input matInput formControlName="InvalidPersonnel" placeholder="">
              </mat-form-field> -->
            </mat-grid-tile>
          
          </mat-grid-list>
  
          <!-- <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
             
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Badge of the test area</mat-label>
                <input matInput formControlName="Badgetestarea" placeholder="">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
             
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Access key hand over</mat-label>
                <input matInput formControlName="Accesskey" placeholder="">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list> -->
  
          <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Note</mat-label>
                <textarea class="textarea" matInput formControlName="Note" placeholder="Notes...."></textarea>
              </mat-form-field>
            </mat-grid-tile>
  
          </mat-grid-list>
        </form>
  
      </mat-card-content>
    </mat-card>
  <div class="butns">
    <button class="butns-grp" mat-raised-button color="primary" (click)="SaveasDraft()" >Save as Draft</button>
    <button class="butns-grp" mat-raised-button color="primary">Save & Hold</button>
    
  </div>
  </div>