.mat-form-field
  {
    width: 100%;
    padding-right: 10px; 
  }

  .matrequest{
    width: 35% !important;
    padding: 0px !important; 
    
  }
  .card-content{
    padding: 30px;
  }

  .cmsnum{
    width: 100%;
    padding-right: 70px; 
  }
  .butns
  {
    margin: 50px;
    float: right;
  }
  .butns-grp
  {
    margin-right: 20px;
  }
  .butns-grp-back
  {
padding: 10px;
  }
  .img-sty{
    width: 500px;
  }
  .img-div-sty
  {
    /* text-align: center; */
    /* background-color: red; */
  }
  .firstdiv, .secndfiv, .thirddiv, .fourthdiv
  {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.02);
    margin-bottom: 10px;
  }
  .chipsbox-height
  {
    /* height: 60px !important; */
  }

  .form-value{
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
}

#input-form {
    position: absolute;
    z-index: 1;
   
}
input {
  position: relative !important;
  background: transparent;
  border: none;
 /* background-color: red; */
}
button
{
  width: 200px;
  height: 50px;
}
.btn-sty
{
  /* background-color: red; 
  left: 118px;
  top:338.4px;
  width: 100px;
  height: 50px; */

  /* background-color: red; */
    /* left: 260px;
    top: 208.4px;
    width: 204px;
    height: 159px; */
    cursor: pointer;
    color: black;
    text-align: center;
font-weight: bold;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
}