<mat-card class="p-0" >

    <mat-card-content class="p-0">
      <!-- <div *ngIf='items.length>0'>
        <button class="download_btn_sty" mat-raised-button color="primary" (click)="exportToExcel()">Download</button>
      </div> -->
      <ngx-datatable id="content" #content class="material ml-0 mr-0" [rows]="items" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50" (activate)="onActivate($event)">
        <!-- <ngx-datatable-column name="Department Id" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.id }}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Department Name" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.departmentName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" (click)="$event.preventDefault(); $event.stopPropagation(); EditDepart(row)" class="mr-1">Edit</button>
              <button mat-icon-button mat-sm-button color="primary" (click)="$event.preventDefault(); $event.stopPropagation(); DeleteDepart(row)" class="mr-1">Delete</button>    
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
  <div class="loading-indicator" *ngIf="spinner">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>