.main-section{
    position: relative;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {width: 40px;height: 40px;}
.zoneA-1{
    position: absolute;
    top: 20%;
    z-index: 9999;
    left: 20%;
}

.zoneA-2{
    position: absolute;
    top: 55%;
    z-index: 9999;
    left: 20%;
}

.zoneB-1{
    position: absolute;
    top: 32%;
    z-index: 9999;
    left: 19px;
}

.zoneB-2{
    position: absolute;
    top: 40%;
    z-index: 9999;
    left: 7%;
}

.zoneB-3{
    position: absolute;
    top: 52%;
    z-index: 9999;
    left: 20%;
}
.zoneB-4{
    position: absolute;
    top: 50%;
    z-index: 9999;
    left: 33%;
}
.zoneB-5{
    position: absolute;
    top: 52%;
    z-index: 9999;
    left: 47%;
}
.zoneB-6{
    position: absolute;
    top: 35%;
    z-index: 9999;
    left: 58%;
}
.zoneB-7{
    position: absolute;
    top: 52%;
    z-index: 9999;
    left: 58%;
}
.zoneB-8{
    position: absolute;
    top: 50%;
    z-index: 9999;
    right: 25%;
}
.zoneB-9{
    position: absolute;
    top: 34%;
    z-index: 9999;
    right: 11%;
}
.zoneB-10{
    position: absolute;
    top: 50%;
    z-index: 9999;
    right: 11%;
}

.zoneB-11{
    position: absolute;
    top: 40%;
    z-index: 9999;
    right: 2%;
}

.zoneB-12{
    position: absolute;
    bottom: 10%;
    z-index: 9999;
    right: 8%;
}
.zoneB-13{
    position: absolute;
    bottom: 28%;
    z-index: 9999;
    right: -12%;
}

.zoneB-14{
    position: absolute;
    top: 32%;
    z-index: 9999;
    right: -13%;
}
.zoneB-15{
    position: absolute;
    bottom: 10%;
    z-index: 9999;
    right: -22%;
}

.zoneB-16{
    position: absolute;
    top: 41%;
    z-index: 9999;
    right: -19%;
}

.zoneB-17{
    position: absolute;
    bottom: 28%;
    z-index: 9999;
    right: -23%;
}

/* jf-ground-floor ZONE-C */

.zoneC-1{
    position: absolute;
    top: 15%;
    z-index: 9999;
    left: 19px;
}
.zoneC-2{
    position: absolute;
    top: 8%;
    z-index: 9999;
    left: 9%;
}
.zoneC-3{
    position: absolute;
    top: 15%;
    z-index: 9999;
    left: 17%;
}
.zoneC-4{
    position: absolute;
    top: 8%;
    z-index: 9999;
    left: 25%;
}
.zoneC-5{
    position: absolute;
    top: 15%;
    z-index: 9999;
    left: 33%;
}

.zoneC-6{
    position: absolute;
    top: 24%;
    z-index: 9999;
    left: 53%;
}

.zoneC-7{
    position: absolute;
    top: 8%;
    z-index: 9999;
    left: 58%;
}

.zoneC-8{
    position: absolute;
    top: 18%;
    z-index: 9999;
    right: 22%;
}

.zoneC-9{
    position: absolute;
    top: 30%;
    z-index: 9999;
    right: 22%;

}
.zoneC-10{
    position: absolute;
    top: 30%;
    z-index: 9999;
    right: 14%;

}
.zoneC-11{
    position: absolute;
    top: 19%;
    z-index: 9999;
    right: 1%;

}
.zoneC-12{
    position: absolute;
    top: 34%;
    z-index: 9999;
    right: -12%;
}

.zoneC-13{
    position: absolute;
    top: 26%;
    z-index: 9999;
    right: -23%;
}

.zoneC-14{
    position: absolute;
    top: 37%;
    z-index: 9999;
    left: 20%;
}

.zoneC-15{
    position: absolute;
    bottom: 35%;
    z-index: 9999;
    left: 10%;
}

.zoneC-16{
    position: absolute;
    bottom: 38%;
    z-index: 9999;
    left: 23%;
}
.zoneC-17{
    position: absolute;
    bottom: 34%;
    z-index: 9999;
    left: 42%;
}

.zoneC-18{
    position: absolute;
    bottom: 34%;
    z-index: 9999;
    right: 28%;
}

.zoneC-19{
    position: absolute;
    bottom: 34%;
    z-index: 9999;
    right: 11%;
}
.zoneC-20{
    position: absolute;
    bottom: 39%;
    z-index: 9999;
    right: 3%;
}
.zoneC-21{
    position: absolute;
    bottom: 34%;
    z-index: 9999;
    right: -7%;
}



