.mat-form-field {
  width: 100%;
  padding-right: 10px;
}

.matrequest {
  width: 35% !important;
  padding: 0px !important;
}
.card-content {
  padding: 30px;
}

.cmsnum {
  width: 100%;
  padding-right: 70px;
}
.butns {
  margin: 50px;
  float: right;
}
.butns-grp {
  margin-right: 20px;
}
.butns-grp-back {
  padding: 10px;
}
.img-sty {
  width: 500px;
}
.img-div-sty {
  text-align: center;
}
.firstdiv,
.secndfiv,
.thirddiv,
.fourthdiv {
  /* border: 1px solid black; */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;
}
.chipsbox-height {
  /* height: 60px !important; */
}
.download-sty {
  float: right;
  margin: 10px;
}
