<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <img src="assets/images/logo-beam.png" alt="" class="app-logo">
            <h1 matDialogTitle>WORK PERMIT N: S 09876 2020 </h1>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="card-content">
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Company Name :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Companyname}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Sub Contractor Name</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.SubContractorname}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Foreman :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Foreman}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Foreman Phone</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.ForemanPhone}}</label>
            </mat-grid-tile>
        </mat-grid-list>
       
        <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Request Date :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Requestdate}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Start Datetime</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Startdate | date}} {{this.Requestdata.StartTime }}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>End Datetime</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Enddate | date}} {{this.Requestdata.EndTime}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Activity :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Activity}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Type of Activity</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.TypeofActivity}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Team</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Team}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Location :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Location}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Site</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Site}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Building</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Building}} </label>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="6" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Floor :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.FloorName}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Room No</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.RoomNo}}</label>
            </mat-grid-tile>
            <mat-grid-tile>
                <label>Room Type</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.RoomType}} </label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Crane Requested :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.CMT}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Crane Number</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.CmtValue}}</label>
            </mat-grid-tile>
            
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Hotwork Requested :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Hotwork}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Certified Person</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.CertifiedPerson}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Loto Procedure :</label> 
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.LOTOPROCEDURE}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label >LOTO Number</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.LOTONumber}}</label>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Applicant</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Applicant}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>Phone No</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.PhoneNumber}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Power Off</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Poweroff}}</label>
            </mat-grid-tile>
            <mat-grid-tile class="label-key-sty">
                <label>No Persons Involved</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.InvalidPersonnel}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>People Involved Count</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.peopleinvalidcount}}</label>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Tools :</label> 
            </mat-grid-tile> 
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Tools}}</label>
            </mat-grid-tile>         
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Machinery</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Machinery}}</label>
            </mat-grid-tile>
        </mat-grid-list>
        
        <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile class="label-key-sty">
                <label>Note</label>
            </mat-grid-tile>
            <mat-grid-tile class="content-sty">
                <label>{{this.Requestdata.Note}}</label>
            </mat-grid-tile>
          
        </mat-grid-list>

    </mat-card-content>
</mat-card>
