<div class="m-333">
  <span class="title-sty">Request List</span>
</div>

<mat-card class="p-0" *ngIf="Filtertab">
  <mat-card-title>
    <mat-icon class="icon-sty">filter_list</mat-icon>
    <span>Filter</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="p-0 filter-card-content">
    <form [formGroup]="RequestlistForm" class="example-form">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Type Of Activity</mat-label>
            <mat-select formControlName="TypeOfActivity" name="Typeofactivity">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let loc of Typeofactivitys" [value]="loc.id">
                {{ loc.activityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="Status" name="Status">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let loc of Status" [value]="loc.Statusid">
                {{ loc.Statusname }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <!-- <mat-grid-list cols="3" rowHeight="60px">
          <mat-grid-tile>
            <mat-form-field class="full-width">
              <mat-label>Code</mat-label>
              <input matInput formControlName="Code" placeholder="Code">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
          </mat-grid-tile>
          <mat-grid-tile>
          </mat-grid-tile>
        </mat-grid-list> -->
      <!-- <mat-grid-list cols="2" rowHeight="60px">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <mat-label>Type (T/S/C)</mat-label>
                <mat-select [formControl]="TypeControl" name="TypeControl">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let loc of TypeS" [value]="loc.Typeid">
                    {{loc.Typename}}
                  </mat-option>
                </mat-select>
              </mat-form-field>    
            </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="full-width">
              <mat-label>Keyword</mat-label>
              <input matInput formControlName="Keyword" placeholder="Keyword">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list> -->

      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>SubContractor</mat-label>
            <mat-select
              formControlName="Contractor"
              name="Company"
              [disabled]="!IsNotSubCntr"
            >
              <mat-option>None</mat-option>
              <mat-option *ngFor="let loc of Contractors" [value]="loc.id">
                {{ loc.subContractorName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <!-- <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Site</mat-label>
            <mat-select formControlName="Site" name="Nightlys" (selectionChange)="Getbuilding($event.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let loc of Sites" [value]="loc.site_id">
                {{loc.site_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Building</mat-label>
            <mat-select formControlName="Building" name="Building">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let loc of Buildings" [value]="loc.build_id">
                {{ loc.building_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="datepikr full-width" appearance="outline">
            <mat-label>Working Date (from)</mat-label>
            <input
              matInput
              [min]="minDate"
              formControlName="WorkingDateFrom"
              [max]="maxDate"
              [matDatepicker]="fspicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="fspicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #fspicker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="datepikr full-width" appearance="outline">
            <mat-label>Working Date (to)</mat-label>
            <input
              matInput
              [min]="minDate"
              formControlName="WorkingDateTo"
              [max]="maxDate"
              [matDatepicker]="tspicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="tspicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #tspicker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Activity</mat-label>
            <input matInput formControlName="Keyword" placeholder="Keyword" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Permit number </mat-label>
            <input
              matInput
              formControlName="Permitnumber"
              placeholder="Permit number"
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Level</mat-label>
            <mat-select formControlName="Level" name="Level">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let Floors of getFloors" [value]="Floors">
                {{ Floors }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <div class="butns-grp">
      <button
        style="margin-right: 5px"
        mat-raised-button
        color="primary"
        (click)="search($event)"
      >
        <mat-icon>search</mat-icon>Search
      </button>
      <button mat-raised-button color="primary" (click)="Reset()">Reset</button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="p-0">
  <mat-card-content class="p-0">
    <!-- <div *ngIf='items.length>0'>
      <button class="download_btn_sty" mat-raised-button color="primary" (click)="exportToExcel()">Download</button>
    </div> -->
    <div *ngIf="isoperator">
      <button
        mat-raised-button
        class="span-apprv"
        (click)="statuschange('Approved')"
      >
        Approved
      </button>
      <button
        mat-raised-button
        class="span-rejc"
        (click)="statuschange('Rejected')"
      >
        Rejected
      </button>
      <mat-form-field appearance="outline" *ngIf="selected.length > 0">
        <mat-label>Edit</mat-label>
        <mat-select
          name="editmult"
          (selectionChange)="Getselected($event.value)"
        >
          <mat-option value="none">None</mat-option>
          <mat-option value="Time"> Time </mat-option>
          <mat-option value="safetyPrecaution"> Safety Precaution </mat-option>
          <mat-option value="notes"> Notes </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ngx data table used to be there -->
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="items"
      [columnMode]="'force'"
      [headerHeight]="70"
      [footerHeight]="50"
      [scrollbarH]="true"
      [limit]="30"
      [rowHeight]="50"
      (select)="onSelect($event)"
      [selected]="selected"
      [selectionType]="SelectionType.checkbox"
      #table
    >
      <ngx-datatable-column [width]="10" *ngIf="isoperator">
        <ng-template
        
          ngx-datatable-header-template
          let-value="value"
          let-allRowsSelected="allRowsSelected"
          let-selectFn="selectFn"
        >
          <!-- <span class="span-sty span-apprv" color="primary">Approvedd</span>
          <span class="span-sty span-rejc" color="primary">Rejected</span> -->

          <div>
            <input
              type="checkbox"
              [checked]="allRowsSelected"
              (change)="selectFn(!allRowsSelected)"
            />
          </div>
        </ng-template>
        <ng-template
        [width]="50"
          class="chcks-sty"
          ngx-datatable-cell-template
          let-value="value"
          let-isSelected="isSelected"
          let-onCheckboxChangeFn="onCheckboxChangeFn"
          let-row="row"
        >
          <input
          [width]="50"
            type="checkbox"
            [checked]="isSelected"
            *ngIf="row.Request_status == 'Hold'"
            (change)="onCheckboxChangeFn($event)"
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Permit number " [flexGrow]="1" [width]="60">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.PermitNo }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Activity" [flexGrow]="1" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Activity }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Sub-contractor" [flexGrow]="1" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.subContractorName }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Building" [flexGrow]="1" [width]="20">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.building_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Area" [flexGrow]="1" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Room_Nos }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Level" [flexGrow]="1" [width]="20">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Room_Type }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Working Date" [flexGrow]="1" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Working_Date | date: "mediumDate" }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Time" [flexGrow]="1" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.Start_Time }} - {{ row?.End_Time }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [flexGrow]="1" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip
            mat-sm-chip
            [color]="'primary'"
            (click)="EditDraft(row)"
            *ngIf="
              row.Request_status != 'Hold' &&
              row.Request_status != 'Approved' &&
              row.Request_status != 'Opened' &&
              row.Request_status != 'Closed'
            "
          >
            {{ row?.Request_status }}
          </mat-chip>
          <mat-chip
            mat-sm-chip
            [color]="'primary'"
            *ngIf="row.Request_status == 'Closed'"
          >
            {{ row?.Request_status }}
          </mat-chip>
          <mat-chip
            mat-sm-chip
            class="hold-sty"
            [color]="'primary'"
            (click)="ChangeStausbysubcontractor(row, 'Opened')"
            *ngIf="row.Request_status == 'Approved'"
            >{{ row?.Request_status }}
          </mat-chip>
          <mat-chip
            mat-sm-chip
            class="hold-sty"
            [color]="'primary'"
            (click)="ChangeStausbysubcontractor(row, 'Closed')"
            *ngIf="row.Request_status == 'Opened'"
            >{{ row?.Request_status }}
          </mat-chip>
          <mat-chip
            class="hold-sty"
            mat-sm-chip
            [color]="'primary'"
            *ngIf="row.Request_status == 'Hold' && isoperator"
            (click)="ChangeStaus(row)"
            >{{ row?.Request_status }}</mat-chip
          >
          <mat-chip
            mat-sm-chip
            [color]="'primary'"
            *ngIf="row.Request_status == 'Hold' && !isoperator"
          >
            {{ row?.Request_status }}</mat-chip
          >
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Operations" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-icon
            (click)="Editrow(row)"
            class="icons-sty"
            *ngIf="isoperator && row.Request_status != 'Closed' && (this.userdata['role'] !== 'Observer')" 
            (click)="Editrow(row)"
            >edit</mat-icon
          >
          <mat-icon class="icons-sty">
            <a
              href="https://beam.safesiteworks.com/navodemoproject/newbeam/index.php?PermitNo={{
                row?.PermitNo
              }}"
              target="_blank"
              >visibility</a
            ></mat-icon
          >
          <mat-icon
            (click)="CopyRequest(row, 'Hold')"
            class="icons-sty"
            *ngIf="
             (row.Request_status == 'Hold' ||
              row.Request_status == 'Approved' ||
              row.Request_status == 'Rejected') && (this.userdata['role'] !== 'Observer')
            "
            >content_copy
          </mat-icon>
          <mat-icon
            (click)="CopyRequest(row, 'Closed')"
            class="icons-sty"
            *ngIf="row.Request_status == 'Closed' && isoperator && (this.userdata['role'] !== 'Observer')"
            >content_copy</mat-icon
          >
          <mat-icon
            (click)="Deleterequest(row)"
            class="icons-sty"
            *ngIf="IsNotSubCntr && (this.userdata['role'] !== 'Observer')"
            >delete</mat-icon
          >
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template 
          ngx-datatable-footer-template 
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset">
          <div style="padding: 5px 10px">
            <div>
              Selected {{Countresult.length}} of {{(rowCount> 
                (curPage*pageSize))?(curPage*pageSize):(rowCount)}} /
                {{paginationCount}} records.
            </div>
          </div>
          <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="paginationCount"
          (change)="onPagination($event)">
           </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </mat-card-content>
</mat-card>

<div class="loading-indicator" *ngIf="spinner">
  <mat-progress-spinner
    mode="indeterminate"
    color="accent"
  ></mat-progress-spinner>
</div>
