<div class="m-333">
    <!-- <span fxFlex></span> -->
    <button mat-raised-button class="mb-05" color="primary" (click)="addrequest()">ADD Request</button>
  </div>
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="items"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="10"
            [rowHeight]="50">
            <ngx-datatable-column name="Company Name" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.Companyname }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Request Date" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.Requestdate }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sub Contractor Name" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.SubContractorname }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Site" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.Site }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)">View</button>
                <!-- <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button> -->
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
  