.card-content
{
    margin: 10px;
}
.mat-form-field
  {
    width: 100%;
    padding-right: 30px; 
  }
  .butns
  {
      float: right;
      margin-right: 30px;
  }

  .error-sty
  {
    text-align: center;
    color: red;

  }