<div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title> Change Password </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content class="card-content">
            <form [formGroup]="ChangePasswordForm" class="example-form">
                <mat-grid-list cols="2" rowHeight="80px">
                    <mat-grid-tile>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>New Password</mat-label>
                            <input matInput formControlName="newpassword" placeholder="New Password">
                        </mat-form-field>

                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Old Password</mat-label>
                            <input matInput formControlName="confirmnewpassword" placeholder="Confirm Password">
                        </mat-form-field>

                    </mat-grid-tile>
                </mat-grid-list>
                <div class="error-sty">
                    <div *ngIf="ChangePasswordForm.controls['newpassword'].errors && !ChangePasswordForm.controls['newpassword'].pristine"
                        class="text-danger error">
                        <div [hidden]="!ChangePasswordForm.controls['newpassword'].errors.required">Please enter new
                            password</div>
                    </div>
                    <div *ngIf="ChangePasswordForm.controls['confirmnewpassword'].errors && !ChangePasswordForm.controls['confirmnewpassword'].pristine"
                        class="text-danger error">
                        <div [hidden]="!ChangePasswordForm.controls['confirmnewpassword'].errors.required">Please enter
                            confirm
                            password</div>
                        <div [hidden]="!ChangePasswordForm.controls['confirmnewpassword'].errors?.mustMatch">Confirm
                            password
                            must match</div>
                    </div>
                </div>
            </form>
            <div class="butns">
                <button class="butns-grp" mat-raised-button color="primary" (click)="Changepassword()">Save</button>
            </div>

        </mat-card-content>
    </mat-card>

</div>

<div class="loading-indicator" *ngIf="spinner">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>