<div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title> Department </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content class="card-content">
            <form [formGroup]="ActivityForm" class="example-form">
                    <mat-grid-list cols="2" rowHeight="80px">
                        <mat-grid-tile *ngIf="editform">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Activity Id</mat-label>
                                <input matInput formControlName="id" readonly placeholder="Activity Id">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Activity Name</mat-label>
                                <input matInput formControlName="activityName" placeholder="Activity Name">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                
            </form>
            <div class="butns" *ngIf="!editform">
                <button class="butns-grp" mat-raised-button color="primary" (click)="CreateActivity()">Create</button>
            </div>
            <div class="butns" *ngIf="editform">
                <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close (click)="UpdateActivity()">Update</button>
                <button class="butns-grp" mat-raised-button color="primary" mat-dialog-close>Close</button>

            </div>
        </mat-card-content>
    </mat-card>
 
</div>

<!-- <div *ngIf="deleteform">
<h1>Do you want delete the Department </h1>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" (click)="Deletedepat()">Yes</button>
    <button mat-button mat-dialog-close>No</button>
  </div>
</div> -->
<div class="loading-indicator" *ngIf="spinner">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>