.butns
{
    float: right;
}
.mat-form-field
  {
    width: 100%;
    padding-right: 30px; 
  }

  .matrequest{
    width: 35% !important;
    padding: 0px !important; 
    
  }
  .card-content{
    padding: 30px;
  }
  .butns-grp
  {
    margin-right: 10px;
  }

  @media only screen and (max-width: 468px) and (min-width: 360px){
    .mat-form-field
  {
    width: 100%;
    padding-right: 0px!important; 
  }
  }